
/*         Font-family                 */

$title-family-font: Helvetica,sans-serif;
$other-family-font:"Lucida Console",
"Courier New",
monospace;



/*          Background   Color           */
$primary-background-color:white;
$secondary-background-color:black;

/*            Button     Color          */
$button-color:orange;
$button-hover-color:green;

/*            Text color                */
$primary-text-color:white;
$secondary-text-color:rgb(220, 220, 220);
$third-text-color:white;
$four-text-color:black;


/*            Background                */
$border-line-color:black;
$border-line-color-a:white;



/*           Border-radius               */

$border-radius: 26px;




/*         calendar color          */

$hover: rgb(163, 56, 163);

$bg-calendar: rgb(38, 37, 37);
$second-slice-calendar:rgba(211, 213, 214, 0.84);
$third-slice-calendar:rgb(153, 153, 153);


$bg-main-calendar:rgba(86, 86, 86, 0.1);

$text-calendar: rgb(135, 136, 149) ;

$corner-today-day:rgb(255, 255, 255);

$date-event:rgb(135, 136, 149);;

$line-square-calendar:rgb(245, 245, 245);

$plus-create-event: rgb(135, 136, 149);

/* backgrounf calendar */
$bg-timer: rgb(39, 40, 57);



